<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buaa.ct.comment">

    <application>
        <activity android:name="com.buaa.ct.myapplication.sample.comment.CommentTestActivity" />
        <activity android:name="com.buaa.ct.myapplication.sample.comment.EmojiTestActivity" />
    </application>
</manifest>
