<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.buaa.ct.easyui">

    <application>
        <activity android:name=".DraggableFlag.DraggableFlagTestActivity"/>
        <activity android:name=".Banner.BannerTestActivity"/>
        <activity android:name=".pulldown.FlexibleTestActivity"/>
        <activity android:name=".listview.ParallaxScollListViewTrestActivity"/>
        <activity android:name=".pulldoor.PullDoorTestActivity"/>
        <activity android:name=".boundnumber.BoundNumTestActivity"/>
    </application>
</manifest>
