<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buaa.ct.easyui">

    <application>
        <activity android:name=".DraggableFlag.DraggableFlagTestActivity" />
        <activity android:name=".Banner.BannerTestActivity" />
        <activity android:name=".pulldown.FlexibleTestActivity" />
        <activity android:name=".pulldoor.PullDoorTestActivity" />
        <activity android:name=".boundnumber.BoundNumTestActivity" />
        <activity android:name=".share.ShareDialogTestActivity" />
        <activity android:name=".progresssbar.NumberProgressbarTestActivity" />
        <activity android:name=".progressimage.ProgressImageTestActivity" />
        <activity android:name=".FallStar.FallSnowTestActivity" />
    </application>
</manifest>
