<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buaa.ct.copyboard" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <activity android:name=".CopyboardTestActivity" />
        <service
            android:name=".ListenClipboardService"
            android:enabled="true"
            android:exported="true"
            android:process=":process"/>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
